<h1>ућ╗тЃЈТіЋуе┐сЃЋсѓЕсЃ╝сЃа</h1>
<% if @post_image.errors.any? %>
­ЪўЁ<%= @post_image.errors.count %>С╗ХсЂ«сѓесЃЕсЃ╝сЂїуЎ║ућЪсЂЌсЂЙсЂЌсЂЪ­ЪўЁ

<ul>
  <%= @post_image.errors.full_messages.each do |message| %>
  <li><%= message %></li> 
  <% end %>
</ul>
<% end %>

<%= form_with model: @post_image do |f| %>
<h4>ућ╗тЃЈ</h4>
<%= f.file_field :image, accept: "image/*" %>
<h4>сѓисЃДсЃЃсЃЌтљЇ</h4>
<%= f.text_field :shop_name %>
<h4>УфгТўј</h4>
<%= f.text_area :caption %>
<%= f.submit 'ТіЋуе┐' %>
<% end %>